@import url(http://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic,latin-ext,latin);

body {
    margin: 0;
    background-image: url('../img/fon.gif');
    font-family: 'Roboto', sans-serif !important;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: geometricPrecision;
    color: #A2A2A2;
    height: 100%;
}

a {
    color: #6EBBFA;
}

a:not([href]) {
    border-bottom: 1px dotted #6EBBFA;
    cursor: pointer;
}

center {
    height: 100%;
}

div#total {
    width: 1110px;
    height: 100%;
    background: -webkit-radial-gradient(rgba(218, 218, 218, 0.15), rgba(218, 218, 218, 0.01), rgba(218, 218, 218, 0));
    background: -moz-radial-gradient(rgba(218, 218, 218, 0.15), rgba(218, 218, 218, 0.01), rgba(218, 218, 218, 0));
    background: -o-radial-gradient(rgba(218, 218, 218, 0.15), rgba(218, 218, 218, 0.01), rgba(218, 218, 218, 0));
    background: -ms-radial-gradient(rgba(218, 218, 218, 0.15), rgba(218, 218, 218, 0.01), rgba(218, 218, 218, 0));
    background: radial-gradient(rgba(218, 218, 218, 0.15), rgba(218, 218, 218, 0.01), rgba(218, 218, 218, 0));
}

.userbar {
    float: right;
    margin: 20px;
}

.userbar ul li {
    display: inline;
}

.userbar ul a {
    color: #ffffff;
    text-decoration: none;
}

.userbar ul a:hover {
    text-decoration: underline;
}

#total:after {
    content: "";
    display: table;
    clear: both;
}

img.logo {
    float: left;
    padding: 75px 20px 51px 20px;
}

div.delimeter {
    clear: both;
}

#leftsidebar {
    float: left;

}

ul.left-menu {
    float: left;
    clear: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    min-width: 140px;
    background-image: url('../img/back_left_menu.png');
    background-repeat: repeat-y;
    font-size: 20px;
}

ul.left-menu li {
    background-image: url('../img/line_of_menu.png');
    background-repeat: no-repeat;
    text-align: left;
}

ul.left-menu li a {
    display: block;
    padding: 1em;
    padding-left: 30px;
    color: #a2a2a2;
    cursor: pointer;
    text-decoration: none;
}

ul.left-menu li.active a, ul.left-menu li a:hover {
    color: white;
}

a.button {
    text-decoration: none;
    display: block;
    padding: 7px 30px 7px 30px;
    border-radius: 15px;
    color: white;
    font-size: 12px;
}

.green-button {
    background: green; /* Для старых браузров */
    background: -moz-linear-gradient(top, #78d088, #186901); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%, #fefcea), color-stop(100%, #186901));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #78d088, #186901);
    background: -o-linear-gradient(top, #78d088, #186901); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #78d088, #186901); /* IE10 */
    background: linear-gradient(top, #78d088, #186901); /* CSS3 */
}

.red-button {
    background: #8e0b1c; /* Для старых браузров */
    background: -moz-linear-gradient(top, #d9464b, #8e0b1c); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%, #d9464b), color-stop(100%, #8e0b1c));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #d9464b, #8e0b1c);
    background: -o-linear-gradient(top, #d9464b, #8e0b1c); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d9464b, #8e0b1c); /* IE10 */
    background: linear-gradient(top, #d9464b, #8e0b1c); /* CSS3 */
}

.gray-button {
    background: #707070; /* Для старых браузров */
    background: -moz-linear-gradient(top, #bbbbbb, #707070); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%, #bbbbbb), color-stop(100%, #707070));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #bbbbbb, #707070);
    background: -o-linear-gradient(top, #bbbbbb, #707070); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #bbbbbb, #707070); /* IE10 */
    background: linear-gradient(top, #bbbbbb, #707070); /* CSS3 */
}

.popup {
    position: fixed;
    min-width: 400px;
    background: #ffffff;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    padding: 25px;
    border: 1px solid rgba(120,120,120,0.6);
    box-shadow: 0 0 10px rgba(120, 120, 120, 0.5);
    background: #fff;
    z-index: 9999;
}

.popup__cross {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.popup__header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1em;
}

.popup__content {
    font-size: 14px;
    color: black;
}

.backorder {
    width: 400px;
    position: relative;
}

.backorder__header {
    text-align: center;
}

.backorder__header {
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 17px;
}

.backorder__error {
    color: red;
    margin: 30px;
}

.backorder__status {
    display: none;
    margin: 30px;
}

.backorder__file {
    display: none;
    position: absolute;
    top: 123px;
    right: 44px;
}

.backorder__controls {
    height: 1em;
}

.backorder__submit {
    position: absolute;
    right: 0;
    bottom: -5px;
}

.backorder__back {
    position: absolute;
    left: 0;
    bottom: 0;
}

.backorder__file-input {
    display: block;
    margin-bottom: 2em;
}

#main {
    position: relative;
    right: 100px;
    padding-top: 50px;
    float: right;
}

.chat,
.settings {
    position: relative;
    width: 760px;
    height: 615px;
    background: white;
    padding: 20px;
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(70, 70, 70, 0.3) 0%, rgba(50, 50, 50, 0.3) 100%); /* W3C */
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0); /* IE6-8 */
}

.chat__zakladki {
    position: absolute;
    right: 38px;
    width: 38px;
    margin-top: 100px;
}

.chat__window {
    overflow-y: scroll;
    border-top: 2px solid #555;
    margin: 15px 0;
    height: 495px;
    float: left;
    width: 100%
}

.chat__calls {
    overflow-y: auto;
    position: absolute;
    right: -230px;
    width: 210px;
    padding: 10px;
    box-shadow: 5px -3px 10px rgba(0, 0, 0, 0.5);
}

.chat__calls {
    top: 10px;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.5);
}

.chat__calls .message {
    width: 130px;
}

.calls__header {
    margin-bottom: 10px;
}

.message {
    color: black;
    background: white;
    padding: 20px;
    border: 1px solid black;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

.message_from_client {
    background: #eee;
}

.replyform input {
    float: left;
}

.chat__window:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.message__time,
.message__sender {
    display: inline;
    font-size: 12px;
    margin: 0 5px 5px;
    float: left;
}

.message__time {
    color: #777;
}

.message__sender {
    color: #555;
}

.message__body {
    font-size: 14px;
    text-align: left;
    clear: both;
    padding: 15px;
}

.icon-holder {
    display: inline-block;
    width: 25px;
    position: absolute;
    top: 10px;

}

.icon-holder-left {
    left: 1px;
}

.icon-holder-right {
    float: right;
    text-align: left;
}

.icon {
    display: inline-block;
    border-radius: 200px;
    width: 15px;
    height: 15px;
    color: white;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    font-size: 16px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.icon-small {
    height: 13px;
    width: 13px;
    font-size: 9px;
    text-align: center;

}

.icon_disabled_yes {
    background: #ccc !important;
    cursor: not-allowed !important;
}

.icon-super {
    position: absolute;
    top: -6px;
    right: -6px;
}

.icon-sub {
    position: absolute;
    top: 9px;
    right: -6px;
}

.icon-holder-left .icon-super,
.icon-holder-left .icon-sub {
    right: 18px;
}

.icon-holder-right .icon-super,
.icon-holder-right .icon-sub {
    right: 2px;
    text-align: center;
}

.red-icon {
    background: #cc3434;
}

.green-icon {
    background: #00cc00;
}

.red-icon:hover {
    background: #aa3434;
}

.green-icon:hover {
    background: #00aa00;
}

.kol-vo .icon,
.orderforming-number .icon {
    display: none;
    cursor: pointer;
}

.orderlistcontent_status_undraft .icon-holder {
    display: none;
}

.orderlistcontent_status_draft tr:hover .icon {
    display: inline-block;
}

.orderforming-number {
    position: relative;
}

.orderforming-number .icon {
    position: absolute;

}

.delete, .info {
    text-align: center;
    font-size: 16px;
}

.info {
    position: relative;
    left: 25px;
}

.flash,
.flash:hover {

    -moz-animation: flash 1s ease-out;
    -moz-animation-iteration-count: 2;

    -webkit-animation: flash 1s ease-out;
    -webkit-animation-iteration-count: 2;

    -ms-animation: flash 1s ease-out;
    -ms-animation-iteration-count: 2;

}

@-webkit-keyframes flash {
    0%
    {
        background-color: none;
    }
    50%
    {
        background-color: rgba(50, 200, 50, 0.3)
    }
    100%
    {
        background-color: none;
    }
}

@-moz-keyframes flash {
    0%
    {
        background-color: none;
    }
    50%
    {
        background-color: rgba(50, 200, 50, 0.3)
    }
    100%
    {
        background-color: none;
    }
}

@-ms-keyframes flash {
    0%
    {
        background-color: none;
    }
    50%
    {
        background-color: rgba(50, 200, 50, 0.3)
    }
    100%
    {
        background-color: none;
    }
}

.orderforming__trobber-holder {
    display: none;
    z-index: 1000;
    position: absolute;
    width: 925px;
    height: 680px;
    background: rgba(125, 125, 125, 0.5);
}

.orderforming__trobber {
    position: absolute;
    top: 250px;
    left: 280px;
}

.count-warning {
    font-size: 16pt;
    color: #000;
    position: absolute;
    top: 400px;
    left: 100px;
    display: none;
}

.header_sorting_yes {
    cursor: pointer;
    text-decoration: underline;
}

th.header_sorting_yes:hover {
    color: red;
}

th.header_sorting_yes.active {
    color: green !important;
}

.orderforming__rezerv,
.orderforming__save {
    background-color: red;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.orderforming__rezerv:hover,
.orderforming__save:hover {
    background-color: #CC3434;
}

.orderforming__call {
    background-color: green;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.orderforming__call:hover {
    background-color: #005000;
}

.nondraft-warning {
    color: black;
    margin-top: 26px;
}

.good-item.selected {
    background-color: #3AB2D6;
}

.amount {
    display: inline;
    width: 25px;
    font-size: 8pt;
    line-height: 2em;
}

.kol-vo {
    position: relative;
}

.confirm {
    z-index: 9999;

    position: absolute;
    min-width: 600px;
    min-height: 130px;
    left: 50%;
    margin-left: -300px;
    top: 300px;
    border: 1px solid rgba(120,120,120,0.6);
    box-shadow: 0 0 10px rgba(120, 120, 120, 0.5);
    background: #fff;
}

.confirm__text {
    padding: 30px 20px 20px;
    color: #000;
    text-align: center;
}

.confirm__buttons {
    width: 98%;
    height: 50px;
    position: absolute;
    bottom: 0;
    margin: -50px 5px 0;
    border-top: 1px solid #ccc;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.confirm__button-left {
    display: inline;
}

.confirm__button-right {
    float: right;
    display: inline;
}

.paranja {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9998;
    background: rgba(150, 150, 150, 0.5);
}

.call-popup {
    display: none;
}

.phone-call {
    position: fixed;
}

.chat__replyform {
    width: 700px;
    float: left;
    margin-bottom: 20px;
}

.chat__header {
    right: 20px;
    margin-bottom: 20px;
}

.chat__right-column {
    position: absolute;
    right: 20px;
    width: 160px;
}

.chat__textarea {
    border: 5px #777 solid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    border-radius: 7px;
    outline: none;
    float: left;
    width: 80%;
    height: 70px;
    resize: none;
    padding: 10px;
}

.single-form-buttons a.back {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.regular-btn {
    font-size: 18px;
    line-height: 16px;
    display: inline-block;
    height: 34px;
    padding: 9px 15px;
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.regular-btn:active {
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: none;
}

.regular-btn:active:before {
    content: "";
    background: transparent;
    display: block;
    position: absolute;
    top: -2px;
    right: 0;
    bottom: 0;
    left: 0;
}

@-moz-document url-prefix() {
    .regular-btn
    {
        line-height: 22px;
    }
}

.action-btn {
    color: white !important;
    text-shadow: 0 -1px 0 #144380;
    background: #1f65c2;
    box-shadow: #144380 0 2px 0;
    cursor: pointer;
}

.action-btn:hover {
    background: #0e53ae;
}

.disabled-btn {
    color: black !important;
    background: #cccccc;
    cursor: default;
}

.green-btn {
    background: #32CD32;
    text-shadow: #125D12;
    box-shadow: #125D12 0 2px 0;
}

.green-btn:hover {
    background: #32AD32;
}

.chat__calls-button {
    margin-bottom: 20px;
}

.calls__list {
    border-top: 1px solid rgba(120, 120, 120, .5);
    padding: 5px;
    max-height: 510px;
    overflow: auto;
    display: none;
}

.calls__call {
    text-align: left;
    line-height: 1.3em;
    padding: 10px 0;
    font-size: 12px;
    margin: 1px;
    border-bottom: 1px solid rgba(60, 60, 60, 1);
}

.settings__setting-name {
    color: white;
    float: left;
}

.settings__productNaming {
    padding-top: 20px;
    clear: both;
    text-align: left;
}

.product-naming__table {
    width: 700px;
    margin: 0 auto;
}

.product-naming__loading {
    display: none;
    height: 55px;
    left: 50px;
    width: 608px;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    width: 700px;
    position: absolute;
}

.product-naming__loading-text {
    top: 20px;
    position: relative;
}

.product-naming__table td {
    line-height: 2em;
    border: 1px solid rgb(162, 162, 162);
    padding: 10px;
    background: #FFFCF1;
    color: black;
}

.product-naming__table-header-cell_first_yes {
}

.product-naming__table-header-cell {
    width: 50%;
    text-align: center;
    border-bottom: 1px solid rgb(162, 162, 162);
}

.product-naming__state {
    margin: 20px 0;
}

.product-naming__input {
    height: 2em;
    width: 100%;
    font-size: 1em;
    outline: none;
}

.product-naming__controls input {
    font-weight: bold;
    font-size: 1em;
}

.product-naming__add-row {
    float: right;
    margin-right: 30px;
}

td.product-naming__clear-cell,
td.product-naming__remove-cell {
    background: transparent;
    border: none;
}

.product-naming__clear-row,
.product-naming__remove-row,
.product-naming__select-position {
    border-bottom: 0.8em;
    color: #6EBBFA;
    cursor: pointer;
}

.product-naming__clear-row:hover,
.product-naming__remove-row:hover {
    color: #2EABCA;
}

body {
    font-family: sans-serif;
}

a {
    color: #6EBBFA;
}

.new-order {
    background: #eee;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    border: 1px solid #ccc;
    text-align: left;
    color: #222;
}

.new-order p {
    margin: 10px;
}

.new-order__part {
    position: relative;
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.new-order__head {
    position: relative;
}

.new-order__header {
    font-size: 1.5em;
    margin-right: 1em;
}

.new-order__sub-header {
    font-size: 1.2em;
}

.new-order__back {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 10px;
}

.new-order table {
    width: 100%;
    border-collapse: collapse;
}

.new-order table th {
    height: 2em;
    border-bottom: 1px solid #aaa;
    text-align: center;
}

.new-order table th:last-child {
    width: 20px;
}

.new-order table th:first-child,
.new-order table td:first-child {
    border-right: 1px solid #888;
}

.new-order table tr:nth-child(2n) {
    background: rgba(200,200,200,.3);
}

.new-order table td {
    text-align: center;
    height: 1.5em;
}

.new-order input {
    font-size: 1em;
}

.new-order__save-naming {
    margin-top: 15px;
    float: right;
    font-size: 2em;
}

.new-order__save-order {
    margin-top: 15px;
    float: right;
    font-size: 2em;
}

.new-order__error {
    color: #f33;
}

.new-order__part.disabled .new-order__content,
.new-order__part.disabled .new-order__back {
    display: none;
}

.new-order__upload-trobber {
    display: none;
}

.new-order__naming-edit,
.new-order__naming-delete {
    cursor: pointer;
}

.new-order__creating-wrapper {
    display: none;
    height: 400px;
    font-size: 3em;
    line-height: 3em;
    text-align: center;
}


.new-order__creating .new-order__part {
    display: none;
}

.new-order__creating .new-order__creating-wrapper {
    display: block;
}

.select-position select {
    margin: 5px;
}

.progress-bar {
    background-color: #1a1a1a;
    display: inline-block;
    height: 25px;
    padding: 5px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    background-color: #777;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

/*---------------------------*/

.blue span {
    background-color: #34c2e3;
}

.orange span {
    background-color: #fecf23;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fecf23), to(#fd9215));
    background-image: -webkit-linear-gradient(top, #fecf23, #fd9215);
    background-image: -moz-linear-gradient(top, #fecf23, #fd9215);
    background-image: -ms-linear-gradient(top, #fecf23, #fd9215);
    background-image: -o-linear-gradient(top, #fecf23, #fd9215);
    background-image: linear-gradient(top, #fecf23, #fd9215);
}

.green span {
    background-color: #a5df41;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a5df41), to(#4ca916));
    background-image: -webkit-linear-gradient(top, #a5df41, #4ca916);
    background-image: -moz-linear-gradient(top, #a5df41, #4ca916);
    background-image: -ms-linear-gradient(top, #a5df41, #4ca916);
    background-image: -o-linear-gradient(top, #a5df41, #4ca916);
    background-image: linear-gradient(top, #a5df41, #4ca916);
}

/*---------------------------*/

.stripes span {
    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    background-size: 30px 30px;
    background-image: -webkit-gradient(linear, left top, right bottom,
    color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
    color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
    color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
    to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);

    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
}

@-webkit-keyframes animate-stripes {
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: 60px 0;
    }
}

@-moz-keyframes animate-stripes {
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: 60px 0;
    }
}

.new-message {
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 20px;
    height: 50px;
    background: rgba(230,230,230,.9);
    border-radius: 5px;
    font-weight: bold;
    display: none;
    color: #000000;
    text-align: center;
}

.new-message p {
    margin-bottom: 20px;
}

.order-messages {
    color: #ffffff;
    text-align: right;
    text-decoration: none;
    position: absolute;
    right: -50px;
    top: 20px;
}

.order-messages__count {
    position: absolute;
    top: 30px;
    left: 12px;
    color: red;
    font-weight: bold;
    background: whitesmoke;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000;
    text-align: center;
    text-shadow: .2px .3px #700;
}

.order-messages__link {
    color: red;
    font-weight: bold;
    background: whitesmoke;
    text-shadow: .2px .3px #700;
}

.orderforming__table {
    width: 100%;
}

.orderforming__table-header {
    margin-bottom: 5px;
}

.orderforming__table-header th {
    text-transform: uppercase;
    height: 42px;
    color: #9c2a4c;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    font-weight: bold;
    border: solid 1px #eae6e7;
}

.orderforming__table-header th:first-child {
    width: 30px;
}

.orderforming__table-header:after {
    content: '-';
    display: block;
    line-height: 4px;
    color: transparent;
}

.orderforming__table-body {
    overflow: hidden;
    height: 510px;
    border-top: solid 1px #d3a0b1;
    border-bottom: solid 1px #d2e4e6;
}

.orderforming__table-body tr:first-child td {
    border-top: solid 1px #d3a0b1;
    border-collapse: separate;
}

.orderforming__table-body td {
    text-align: center;
    height: 30px;
    color: #6d7273;
    font-size: 10pt;
    font-weight: bold;
    vertical-align: middle;
    border: solid 1px #e6e6e6;
    border-left-width: 0px;
}

.add-from-xls__header {
    font-weight: bold;
    font-size: 1.5em;
}

.add-from-xls__text {
    margin: 15px 0;
}

.zakladka {
    display: block;
    position: relative;
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
    border-radius: 5px 5px 5px 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px rgba(120,120,120,0.3),
        -1px -1px rgba(120,120,120,0.3),
        -1px 1px rgba(120,120,120,0.3),
        1px -1px rgba(120,120,120,0.3);
    box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
    padding: 10px;
    color: white;
    font-weight: bold;
    z-index: 3;
    position: relative;
    background-position: left top;
    background-repeat: no-repeat;
}

.zakladka:before {
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
}

.zakladka.green {
    width: 60px;
    background-color: #2ecc71;
    top: 25px;
    left: 55px;
}

.zakladka.blue {
    background-image: url('../img/orderforming/z2_0.png');
    height: 115px;
    top: -8px;
}

.zakladka.violet {
    width: 65px;
    background-color: mediumpurple;
    left: 53px;
    top: 65px;
}

.zakladka.red {
    top: 160px;
    width: 170px;
    background: #e74c3c;
}

.zakladka.yellow {
    width: 166px;
    top: 305px;
    left: 2px;
    background: goldenrod;
}

.zakladka:hover {
    padding-bottom: 15px;
}

.orders {
    width: 800px;
}

.orders__head {
    font-size: 24px;
    color: #A1A1A1;
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
}

.orders__head-counter {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    width: 29px;
    height: 32px;
    left: 5px;
    top: -2em;
    line-height: 2em;
    display: inline-block;
    margin-bottom: -20px;
    position: relative;
}

.orders__head-counter-green {
    background-image: url("../img/orders/counter-green.png");
}

.orders__head-counter-red {
    background-image: url("../img/orders/counter-red.png");
}

.orders__subhead {
    height: 33px;
    vertical-align: middle;
    letter-spacing: 1px;
    line-height: 10px;
    text-align: center;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #525357;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    color: #A1A1A1;
    font-size: 9px;
    width: 50px;
}

.orders__order {
    height: 125px;
}

.orders__box {
    background: center no-repeat url('../img/orders/gray-box.png');
    text-align: center;
    vertical-align: bottom;
    padding: 0 0 33px;
}

.orders__car {
    background: center no-repeat url('../img/orders/gray-car.png');
}

.orders__box_active {
    background: center no-repeat url('../img/orders/box-on-palette.png');
}

.orders__order-date {
    color: #fff;
}

.orders__order-date td {
    padding-top: 15px;
}

.orders__box-group {
    display: inline-block;
    border-radius: 5px;
    background: center no-repeat rgba(255,255,255,.8);
    border: none;
    width: 32px;
    height: 32px;
    z-index: 10;
    margin: 2px 2px 0;
}

.orders__box-groups-holder {
    display: inline-block;
    width: 90px;
    margin: 0 -20px;
     -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.order {
    height: 735px;
    width: 925px;
    float: right;
    background: url('../img/orderforming/bloknot.png') no-repeat;
    left: 100px;
    position: relative;
    padding-top: 35px;
}

.order__leftpage {
    position: relative;
    display: inline-block;
    width: 605px;
    height: 605px;
}

.order__rightpage {
    display: inline-block;
    width: 240px;
    height: 605px;
    position: relative;
    float: right;
}

.order__list {
    width: 100%;
}

.order__list-head th {
    text-transform: uppercase;
    height: 42px;
    color: #9c2a4c;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    font-weight: bold;
    border: solid 1px #eae6e7;
    padding: 0 10px;
}

.order__list-holder {
    height: 571px;
    overflow: scroll;
}

.order__list-body td {
    height: 30px;
    color: #6d7273;
    font-size: 10pt;
    font-weight: bold;
    vertical-align: middle;
    border: solid 1px #e6e6e6;
    border-left: none;
    text-align: center;
}

.order__list-body tr:hover .order__row-num {
    display: none;
}

.order__row-controls {
    display: none;
}

.order__list-body tr:hover .order__row-controls {
    display: block;
}

.order__row-delete {
    cursor: pointer;
}

.order__row-info {
    cursor: pointer;
}

.order__header {
    color: #b91c2f;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    background: url('../img/orderforming/red_line.png') no-repeat left bottom;
    line-height: 2em;
}

.order__date {
    color: #364b46;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    line-height: 2em;
    background: url('../img/orderforming/blue_lines.png') no-repeat;
}

.order__info {
    font-size: 16px;
    line-height: 2em;
    text-align: left;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url('../img/orderforming/grey_line.png')
}

.order__amount-input {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px -2px;
}

.order__amount-controls {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 10px;
    top: -7px;
    margin-right: 3px;
}

.order__amount-control-count {
    position: relative;
    top: 5px;
    left: 4px;
    text-align: center;
    font-size: 11px;
}

.order__amount-control_increase {
    position: absolute;
    top: -5px;
    cursor: pointer;
}

.order__amount-control_decrease {
    position: absolute;
    bottom: -5px;
    transform: rotate(180deg);
    cursor: pointer;
}

.order__info-value {
    color: rgb(201, 50, 85);
    font-weight: bold;
}

.button {
    cursor: pointer;
    padding: 5px 15px;
    line-height: 50px;
    min-width: 50px;
    background: rgb(150,150,150);
    border-radius: 3px;
    color: #fff;
    text-shadow: 1px 1px rgba(120,120,120,0.3),
        -1px -1px rgba(120,120,120,0.3),
        -1px 1px rgba(120,120,120,0.3),
        1px -1px rgba(120,120,120,0.3);
    font-weight: bold;
    border-bottom: rgba(50,50,50, 0.5) 3px solid;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.button:hover {
    top: 1px;
    border-bottom: rgba(50,50,50, 0.5) 2px solid
}

.button:active {
    top: 2px;
    border-bottom: rgba(50,50,50, 0.5) 1px solid
}

.button_green {
    background: #2ecc71;
}

.button_red {
    background: #e74c3c;
}

.button_blue {
    background: #1f65c2;
}

.order__rightpage-buttons {
    position: absolute;
    bottom: 5px;
}

.order__leftpage-buttons {
    position: absolute;
    bottom: -10px;
}

.order__leftpage-button {
    margin: 0 5px;
}

.order__trobber {
    display: none;
    position: absolute;
    width: 925px;
    height: 680px;
    background: rgba(120,120,120,0.8);
    top: 0;
    z-index: 5;
}


.order__trobber-image {
    position: relative;
    top: 150px;
}

.order__trobber-warning {
    width: 600px;
    margin: 0 auto;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    top: 200px;
    position: relative;
    text-shadow: 1px 1px rgba(200,200,200,0.5),
        -1px -1px rgba(200,200,200,0.5),
        -1px 1px rgba(200,200,200,0.5),
        1px -1px rgba(200,200,200,0.5);
}

.order__list-sort {
    text-decoration: underline;
    cursor: pointer;
}

/*!
* jquery.fixedHeaderTable. The jQuery fixedHeaderTable plugin
*
* Copyright (c) 2011 Mark Malek
* http://fixedheadertable.com
*
* Licensed under MIT
* http://www.opensource.org/licenses/mit-license.php
*
* http://docs.jquery.com/Plugins/Authoring
* jQuery authoring guidelines
*
* Launch  : October 2009
* Version : 1.3
* Released: May 9th, 2011
*
*
* all CSS sizing (width,height) is done in pixels (px)
*/


.fht-table {
    /* appearance */
    border-collapse: collapse;
    border-spacing: 0;
    }

/* @end */

/* @group Content */

.fht-table-wrapper,
.fht-table-wrapper .fht-thead,
.fht-table-wrapper .fht-tfoot,
.fht-table-wrapper .fht-fixed-column .fht-tbody,
.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody {
    /* appearance */
    overflow: hidden;

    /* position */
    position: relative;
    }

    .fht-table-wrapper .fht-fixed-body .fht-tbody,
    .fht-table-wrapper .fht-tbody {
        /* appearance */
        overflow: auto;
        }

        .fht-table-wrapper .fht-table .fht-cell {
            /* appearance */
            overflow: hidden;

            /* size */
            height: 1px;
            }

    .fht-table-wrapper .fht-fixed-column,
    .fht-table-wrapper .fht-fixed-body {
        /* position */
        top: 0;
        left: 0;
        position: absolute;
        }

    .fht-table-wrapper .fht-fixed-column {
        /* position */
        z-index: 1;
        }

/* @end */

#popup {
    position: absolute;
    width: 116px;
    height: 187px;
    left: 700px;
    top: 460px;
    background-image: url('../img/orderforming/popup.png');
    background-repeat: no-repeat;
    background-position: left center;
}

#popup a {
    border-width: 0px;
    height: 86px;
    text-decoration: none;
    display: block;
}

div.single-form {
    background-color: #f1f1f1;
    position: absolute;
    width: 451px;
    left: 100px;
    top: 120px;
        border-radius: 3px;
    box-shadow: 0px 0px 18px black;
}

#good-adding-3 {
    width: 414px;
}

div.single-form-header {
    background: linear-gradient(#42ac2b, #186901);
    background: -moz-linear-gradient(#42ac2b, #186901);
    background: -ms-linear-gradient(#42ac2b, #186901);
    background: -o-linear-gradient(#42ac2b, #186901);
    background: -webkit-linear-gradient(#42ac2b, #186901);
    color: white;
        text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 13px;
        border-radius: 3px 3px 0px 0px;
}

div.single-form-body {
    padding: 20px;
        padding-left: 30px;
}

div.single-form-body div.search {
    padding-left: 10px;
    padding-top: 1px;
    background-color: white;
    height: 25px;
    border: solid 1px #ababab;
    border-radius: 12px;
    background-image: url(../img/orderforming/searchicon.png);
    background-position: 10px center;
    background-repeat: no-repeat;
}

div.single-form-body div.search input {
    outline: none;
    margin: 0px;
    border-width: 0px;
    width: 345px;
    color: #ababab;
    height: 21px;
}

.list-of-good {
    margin-top: 20px;
    text-align: left;
    background-color: white;
    border: solid 1px #ababab;
    height: 245px;
    overflow-y: auto;
}

.good-item {
    display: block;
    padding: 9px;
    color: black;
    font-weight: bold;
    border-bottom: solid 1px #ababab;
    width: 95%;
}

.orderforming-number {
    width: 20px;
    padding: 0 5px;
}

#orderlistcontent tr:hover {
    background-color: rgba(128,196,255,0.2);
}

.code-entering, .quontity-entering {
    display: block;
    margin-top: 20px;
}

.code-entering .code-entering-label {
    float: left;
    color: black;
    padding: 7px;
    text-align: left;
        font-size: 10pt;
        position: relative;
}

.quontity-entering-label {
    float: left;
    color: black;
    width: 180px;
    text-align: left;
    font-weight: bold;
}

.quontity-entering .for-quontity-input {
    float: right;
    width: 46%;
    padding: 0px;
    margin: 0px;
}

.code-entering input {
    float: right;
    padding: 2px;
    font-size: 16pt;
    color: black;
    font-weight: bold;
}


.code-entering input {
    width: 200px;
}

.for-quontity-input input {

    float: left;
        padding: 2px;
    font-size: 16pt;
    color: black;
    font-weight: bold;
    width: 120px;
        border: solid 1px gray;
        border-radius: 3px;

}

.for-quontity-input .sht {

    float: left;
        padding: 6px;
    color: black;
    font-weight: bold;

}

div.delimeter {
    clear: both;
}

.single-form-buttons {
    clear: both;
    margin-top: 20px;
}

div.single-form-buttons a {
    display: block;
    float: right;
    margin-left: 20px;
}

#good-adding-4 {
    display: none !important;
}

.singleform-left-panrel {
    float: left;
    width: 46%;
}

.singleform-right-panrel {
    float: right;
    width: 46%;
}

.list-of-period {
    text-align: left;
    background-color: white;
    border: solid 1px #ababab;
        border-radius: 3px;
    height: 220px;
    overflow-y: auto;
}

a.good-period {
    display: block;
    border-bottom: solid 1px #ababab;
        padding: 10px 16px;
}

.good-period .month {
    color: black;
    font-weight: bold;
        font-size: 10pt;
        padding-bottom: 2px;
}

.good-period .quontity-by-month {
    color: #8f8f8f;
        font-size: 8pt;
}

.good-property {
    margin-bottom: 20px;
    text-align: left;
        font-size: 10pt;
}

.good-property .label {
    color: #8f8f8f;
    margin-bottom: 5px;
}

.good-property .value {
    color: black;
    font-weight: bold;
}

#good-adding-4 {
    width: 840px;
    height: 422px;
    font-weight: bold;
}

.tovaryscroll {
    width: 760px;
    overflow-y: auto;
    height: 220px;
    margin: 10px 20px 20px 0px;
    border-radius: 5px;
    border: solid 1px #969696;
}

#good-adding-4 table {
    width: 739px;
    font-size: 10pt;
}

#zagolovki {
    width: 760px !important;
    margin-right: 20px;
}

#good-adding-4 tbody
{
    overflow-y: auto;
}

#good-adding-4 th
{
    vertical-align: middle;
    color: #969696;
    padding: 5px;
}

#good-adding-4 td
{
    vertical-align: middle;
    color: black;
    padding: 10px 0px 10px 7px;
    border-bottom: solid 1px #e6e6e6;
}

#good-adding-4 .tovar {
    padding-left: 30px;
    width: 25%;
}

#good-adding-4 .informacia {
    width: 20%;
}

#good-adding-4 .nali4ie {
    width: 20%;
    text-align: center;
}

#good-adding-4 td.vzakaz {
    padding-left: 6%;
    width: 20%;
}

#good-adding-4 th.vzakaz {
    text-align: left;
    padding-left: 2%;
    width: 20%;
}

#good-adding-4 .single-form-buttons {
    margin-right: 28px;
}