p.new-order__head
    span.new-order__header Шаг 2
    span.new-order__sub-header Установка соответствий
    a.new-order__back(href='#/new-order') Назад
div.new-order__content
    hr
    p Мы не смогли найти некоторые товары в нашей базе.
    p Для продолжения создания заказа нужно установить соответствия ваших наименований товаров с нашими, это нужно сделать в таблице ниже
    table
        thead
            th Клиент
            th Allied Nippon
            th
        each product in products
            tr
                td= product.product_name
                td= product.client_product_name
                td
                    a.new-order__naming-edit(data-model-id= product.id)
                        img(src='http://png-1.findicons.com/files/icons/1588/farm_fresh_web/16/pencil.png')

    p
        input(type='button', value='Сохранить').new-order__save-naming

