div.new-order
    div.new-order__part.new-order__upload-file
    div.new-order__part.new-order__product-naming.disabled

    //div.new-order__part.disabled
    //    p.new-order__head
    //        span.new-order__header Шаг 3
    //        span.new-order__sub-header Подтверждение заказа
    //        a.new-order__back Назад
    //    div.new-order__content
    //        hr
    //        p Заказ был успешно сформирован на основании загруженных ваши остатков по складу.
    //        p На этом шаге вы можете ознакомится с общей информацией о заказе.
    //        p
    //            table
    //                tr
    //                    td Сумма заказа
    //                    td 100000 р.
    //                tr
    //                    td Вес заказа
    //                    td 1000 кг.
    //                tr
    //                    td Итого в у.е.
    //                    td 15000
    //                tr
    //                    td Скидка
    //                    td Отсутствует
    //        p Для того, чтобы заказ был создан потребуется ваше подтверждение.
    //        input(type='button', value='Создать заказ').new-order__save-order
    div.new-order__creating-wrapper
        div Создание заказа
        img(src='/static/img/495.GIF')