div.new-order
    div.new-order__part.new-order__upload-file
    div.new-order__part
        div.new-order__paranja
        p.new-order__head
            span.new-order__header Шаг 2
            span.new-order__sub-header Установка соответствий
            a.new-order__back Назад
        hr
        p Мы не смогли найти некоторые товары в нашей базе.
        p Для продолжения создания заказа нужно установить соответствия ваших наименований товаров с нашими, это нужно сделать в таблице ниже
        table
            thead
                th Клиент
                th Allied Nippon
                th
            tr
                td Диски 123
                td Диски 245
                td
                    a
                        img(src='http://png-1.findicons.com/files/icons/1588/farm_fresh_web/16/pencil.png')
            tr
                td Диски 123
                td Диски 245
                td
                    a
                        img(src='http://png-1.findicons.com/files/icons/1588/farm_fresh_web/16/pencil.png')
            tr
                td Диски 123
                td Диски 245
                td
                    a
                        img(src='http://png-1.findicons.com/files/icons/1588/farm_fresh_web/16/pencil.png')
            tr
                td Диски 123
                td Диски 245
                td
                    a
                        img(src='http://png-1.findicons.com/files/icons/1588/farm_fresh_web/16/pencil.png')
            tr
                td Диски 123
                td Диски 245
                td
                    a
                        img(src='http://png-1.findicons.com/files/icons/1588/farm_fresh_web/16/pencil.png')

        p
            input(type='button', value='Сохранить').new-order__save-naming


    div.new-order__part
        div.new-order__paranja
        p.new-order__head
            span.new-order__header Шаг 3
            span.new-order__sub-header Подтверждение заказа
            a.new-order__back Назад
        hr
        p Заказ был успешно сформирован на основании загруженных ваши остатков по складу.
        p На этом шаге вы можете ознакомится с общей информацией о заказе.
        p
            table
                tr
                    td Сумма заказа
                    td 100000 р.
                tr
                    td Вес заказа
                    td 1000 кг.
                tr
                    td Итого в у.е.
                    td 15000
                tr
                    td Скидка
                    td Отсутствует
        p Для того, чтобы заказ был создан потребуется ваше подтверждение.
        input(type='button', value='Создать заказ').new-order__save-order
