div.order

    div.order__trobber
        img.order__trobber-image(src='/static/img/495.GIF')
        div.order__trobber-hexagon
        div.order__trobber-warning Загрузка заказа может занять длительное время

    div.order__leftpage

    div.order__rightpage
        h2.order__header Черновик запроса
        div.order__date От 01.02.2012
        div.order__info Вес заказа:&nbsp;
            span.order__info-value 2 050,31 кг.
        div.order__info Курс:&nbsp;
            span.order__info-value 50,3615 руб.
        div.order__info Итого&nbsp;в&nbsp;у.е.:&nbsp;
            span.order__info-value 12 265,38
        div.order__info Итого&nbsp;в&nbsp;руб.:&nbsp;
            span.order__info-value 617 702,54
        div.order__info Скидка:&nbsp;
            span.order__info-value 1%

        div.order__rightpage-buttons
            div.order__info
                span.button.button_green Позвонить

            div.order__info
                span.button.button_red.order__save-order Сохранить черновик

            div.order__info
                span.button.button_red.order__reserv-order Отправить заказ