div.chat

    form.chat__replyform(method='POST', action='/order/'+ orderId + '/messages/send/')
        textarea.chat__textarea(name='text', placeholder='Введите текст сообщения')

    div.chat__right-column
        div.chat__header
            div.progress-bar.blue.stripes(style="width:150px")
                span(style="width:100%")
        span.button.button_blue.chat__send-message Отправить

    div.chat__calls
        span.button.button_green.chat__calls-button.makecall Позвонить&nbsp;✆
        br
        span.button.button_blue.chat__calls-button.calls__show-button Список&nbsp;звонков&nbsp;⇩

    div.chat__window

    div.chat__zakladki
        a.zakladka.green(href='#order/' + orderId) Заказ
        a.zakladka.violet(href='#order/' + orderId + '/payments') Оплаты
        a.zakladka.red(href='#order/' + orderId + '/chat') Обсуждение заказа
        a.zakladka.yellow.not-implemented Условия договора
