doctype
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title
        link(rel='stylesheet', href='/css/new-order.css')
    body
        div.new-order Test
