h1.add-from-xls__header Добавить позиции из XLS

p.add-from-xls__text Пожалуйста, выберите XLS файл с позициями и нажмите «Загрузить».

form.add-from-xls__file-upload-form(method='POST', enctype='multipart/form-data', action='/order/' + orderId + '/add-from-xls/')
    input.add-from-xls__file-upload-input(type='file', name='file')
    span.add-from-xls__file-upload-button.button Загрузить
